body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    display: flex;
    
}
#root div{
    width: 400px;
    background: rgb(100, 152, 221);
    margin-top: 50px;
    margin-left: 100px;
    padding: 20px;
    border-radius: 10px;
}
table{
    max-width: 600px;
}
input{
    outline: none;
}

canvas{
    /* width: 500px;
    height: 500px; */
    background-color: rgb(49, 192, 149);
    margin-left: 100px;
    margin-top: 50px;
    padding: 20px;
}